nbproject/
Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h.in
config.sub
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
.gitignore
.deps
Makefile
Makefile.fragments
Makefile.objects
config.h
config.log
config.nice
config.status
libtool
modules
functional.la
.libs/
functional.lo
/phpunit.xml
/vendor
composer.lock
/.idea/
