language: php
sudo: false

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly
matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer install
script:
  - composer tests
  - composer coding-style
