#!/usr/bin/make -f

%:
	dh $@ --with php5

override_dh_auto_configure:
	phpize
	dh_auto_configure

override_dh_auto_clean:
	# make clean only if the Makefile exists
	test -f Makefile && make clean ; phpize --clean
