name: Test

on: [push, pull_request]

jobs:
    test:
        name: PHP ${{ matrix.php-version }}

        runs-on: ubuntu-18.04

        strategy:
            matrix:
                php-version:
                    - 7.1
                    - 7.2
                    - 7.3
                    - 7.4
                    - 8.0
            include:
                php-version: 8.0
                continue-on-error: true
        continue-on-error: ${{ matrix.continue-on-error }}

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install PHP with extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  coverage: pcov
                  tools: composer:v2

            - name: Install Composer dependencies
              uses: ramsey/composer-install@v1
              with:
                  composer-options: --prefer-dist

            - name: Setup PCOV
              run: |
                composer require pcov/clobber
                vendor/bin/pcov clobber

            - name: Run Tests
              run: composer tests

            - name: Check coding style
              run: composer coding-style
